// Settings
// $inuit-base-font-size: 10px;
@import "px-colors-design/_settings.colors.scss";

// Tools
@mixin tablet-up {
  @media screen and (min-width: 768px) {
    @content;
  }
}

// Generic
@import "px-normalize-design/_generic.normalize.scss";
@import "px-box-sizing-design/_generic.box-sizing.scss";
@import "px-helpers-design/_generic.helpers.scss";

// Base
@import "px-flexbox-design/_base.flexbox.scss";
@import "px-viewport-design/_base.viewport.scss";
@import "px-typography-design/_base.typography.scss";
@import "px-headings-design/_base.headings.scss";

// Meta
// ...

// Objects
$inuit-enable-btn--tertiary : true;
@import 'px-buttons-design/_objects.buttons.scss';
.btn.btn--reverse {
  border: 1px solid $white;
  color: $white;
  background-color: transparent;
  opacity: 0.5;
}

@import 'px-actionable-text-icons-design/_objects.actionable.scss';

// Component
.superbooth {
  background-color: $gray9;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: $inuit-base-spacing-unit;
}
.superbooth__header, .superbooth__body, .superbooth__footer {
  max-width: calculateRem(1000px);
  margin-left: auto;
  margin-right: auto;
}
.superbooth__header {
  background-color: $gray9;
  width: 100%;
  padding-top: $inuit-base-spacing-unit--tiny;
  @include tablet-up {
    display: flex;
    padding: $inuit-base-spacing-unit 0;
  }
}
.superbooth__header__app-title {
  margin: 0;
  font-weight: normal;
  color: var(--px-seed-header-text-color, $white);
  font-size: $inuit-base-font-size * 1.5;
  @include tablet-up {
    flex: 1;
    font-size: $inuit-base-font-size * 2;
  }
}
.superbooth__header__powered-by {
  margin: $inuit-base-spacing-unit--tiny 0 0;
  font-weight: normal;
  color: var(--px-seed-header-text-color, $gray6);
  font-size: $inuit-base-font-size * 0.9;
  @include tablet-up {
    font-size: $inuit-base-font-size * 1.1;
  }
}
.superbooth__header__predix-logo {
  display: inline-block;
  width: 55px;
  margin: {
    right: 1px;
    left: 1px;
  }
  @include tablet-up {
    width: 75px;
  }
}

.superbooth__body {
  padding-top: $inuit-base-spacing-unit--large;
}
.superbooth__body__info {
  display: flex;
  color: var(--px-seed-header-text-color, $white);
  padding: $inuit-base-spacing-unit 0;
  p {

  }
}
.superbooth__body__info__label {
  flex: 2;
  margin: 0;
  font-weight: normal;
}
.superbooth__body__info__status {
  text-align: right;
  flex: 1;
  color: $gray5;
  font-size: $inuit-base-font-size * 0.9;
  padding-top: 0.2em;
}

.superbooth__card {
  background-color: white;
  min-height: 8rem;
  padding: $inuit-base-spacing-unit--large;

  &.superbooth__card--unknown {
    background-color: $gray3;
  }
  &.superbooth__card--available {
    background-color: $dv-light-green;
  }
  &.superbooth__card--occupied {
    background-color: $dv-light-red;
  }
}

.superbooth__card__status {
  @extend .gamma;
  width: 100%;
  text-align: right;
  margin-top: $inuit-base-spacing-unit--large;
}
.superbooth__card__title {
  @extend .delta;
  font-weight: 400;

  margin-top: $inuit-base-spacing-unit;
  margin-bottom: $inuit-base-spacing-unit--tiny;
}
.superbooth__card__updated {
  margin-top: 0;
}

.superbooth__card__section {
  border-right: 1px solid $gray3;
  text-align: center;
  padding: $inuit-base-spacing-unit--large
}
.superbooth__kpi__title {
  @extend .epsilon;
  text-transform: uppercase;
  color: $gray7;
}
.superbooth__kpi__number {
  @extend .alpha;
  margin-top: $inuit-base-spacing-unit--large;
}

.superbooth__footer {

}

// Trumps
@import "inuit-clearfix/_trumps.clearfix.scss";
@import "px-spacing-responsive-design/_trumps.spacing-responsive.scss";
@import "px-widths-responsive-design/_trumps.widths-responsive.scss";
